# ==============================================================================
# SMCTA - Variables de Entorno de Infraestructura Local
# ==============================================================================

# PostgreSQL Configuration
POSTGRES_USER=smcta_admin
POSTGRES_PASSWORD=smcta_secret_password
POSTGRES_DB=smcta_db
POSTGRES_PORT=5432

# Connection Strings para Microservicios (Backend Core / Rol 1 & Gateway / Rol 3)
DATABASE_URL=postgresql://smcta_admin:smcta_secret_password@localhost:5432/smcta_db?schema=public

# Redis Configuration
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# Puertos de Servicios Locales
CORE_BACKEND_PORT=3000
GATEWAY_PORT=8080
PSP_MOCK_PORT=4000
