# Puerto del servidor PSP Mock
PORT=4000

# URL destino para disparo de Webhook hacia Backend Core (Rol 1)
BACKEND_CORE_WEBHOOK_URL=http://localhost:3000/api/v1/checkout/primary
BACKEND_CORE_ESCROW_RELEASE_URL=http://localhost:3000/api/v1/escrow/webhook-release

# Secreto para firmar los webhooks simulados
PSP_WEBHOOK_SECRET=whsec_smcta_test_secret_key_12345
